.idea/
.idea/inspectionProfiles/Project_Default.xml
.idea/inspectionProfiles/profiles_settings.xml
.idea/misc.xml   
.idea/modules.xml
.idea/performance-based-routing-to-office-365-over-meraki-sd-wan.iml   
.idea/vcs.xml
