# Default ignored files
/shelf/
/workspace.xml
/inspectionProfiles/Project_Default.xml
/inspectionProfiles/profiles_settings.xml
/misc.xml
/modules.xml
/performance-based-routing-to-office-365-over-meraki-sd-wan.iml
/vcs.xml
